<?xml version="1.0" encoding="utf-8"?>
<donker.hmac>
  <configurations>
    <configuration name="TestConfiguration"
         userHeaderName="X-Test-User"
         authorizationScheme="TEST"
         signatureDataSeparator="_"
         characterEncoding="UTF-32"
         hmacAlgorithm="HMACSHA256"
         maxRequestAge="120"
         signRequestUri="false">
      <headers>
        <add name="X-Test-Header-1" />
        <add name="X-Test-Header-2" />
      </headers>
    </configuration>
  </configurations>
</donker.hmac>