<?xml version="1.0" encoding="utf-8"?>
<donker.hmac>
  <configurations>
    <configuration name="Example"
         userHeaderName="X-Auth-User"
         authorizationScheme="HMAC"
         signatureDataSeparator="\n"
         signatureEncoding="UTF-8"
         hmacAlgorithm="HMACSHA512"
         maxRequestAge="300"
         signRequestUri="true"
         validateContentMd5="true">
      <headers>
        <add name="X-Custom-Header" />
      </headers>
    </configuration>
  </configurations>
</donker.hmac>